h2 {
  font-family:'courier new', sans-serif ;
  font-weight:bold;
  text-align: center;
  font-size: 24px;
  
}

li {
  font-size: 0.5em;
  font-weight:normal;
  font-family: calibri, sans-serif;
}


main > div {
  background-color: #E3DFDE;
  border-radius: 10px;
  font-size: 30px;
  padding: 0.5em 2em 2em 1em;
  text-align: center;
  border-style: groove;
}

main {
  padding: 20px;
  margin: 0; 
}

/* colour the text of links */
main a {
  color: black;
  font-size: inherit;

}


/* Change the colour of links on hover using mouse */
main a:hover {
  color:#D9AE5F;
}

/* Change the color of links on focus using tab button */
main a:focus {
  background-color: #D9AE5F;
  color: #E3DFDE;
  outline: none;
}

.container {
  display:block;
  padding: 10%;
  text-align: left;

}

#container1 {
  grid-area: area1;
}

#container2 {
  grid-area: area2;
}

#container3 {
  grid-area: area3;
}

#container4 {
  grid-area: area4;
}

div p {
  font-size:1.5vh;
}

main {
  background-color: #ffffff;
  display: inline-grid;
  grid-template-areas:
  'area1'
  'area2'
  'area3'
  'area4';
  
  grid-gap: 40px;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

  main {
    grid-template-areas:
    'area1 area2 '
    'area3 area4';
    padding: 40px
  
  }

  h2 {
    font-size: 30px;
  }

  #about-me {
    margin-top: 5em;
  }

   p {
    font-size:16px;  }

  li {
    font-size: 16px;
  }

}